main {
    width: 100dvw;
    height: 100dvh;
    padding: 25px 50px;
    background: var(--color-black);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

%section {
    width: 50%;
    height: 100%;
}

.left-section {
    @extend %section;

    @function draw-line($angle, $color, $offset, $moveX, $moveY, $width, $height, $repeat) {
        @return linear-gradient(
            $angle,
            var(--color-transparent) calc(50% - #{$offset}),
            $color 0 calc(50% + #{$offset}),
            var(--color-transparent) 0
        ) + " " + $moveX + " " + $moveY + " / " + $width + " " + $height + " " + $repeat
    }

    background:
        radial-gradient(
            circle,
            var(--color-black) 2.5%,
            var(--color-transparent) 0
        ),
        draw-line(0deg, var(--color-white), 2px, 50%, 50%, 25%, 25%, no-repeat),
        draw-line(90deg, var(--color-white), 2px, 50%, 50%, 25%, 25%, no-repeat),
        draw-line(45deg, var(--color-white), 2px, 45%, 45%, 15%, 15%, no-repeat),
        draw-line(-45deg, var(--color-white), 2px, 45%, 55%, 15%, 15%, no-repeat),
        linear-gradient(
            90deg,
            var(--color-transparent) calc(50% - 0.5px),
            var(--color-gray-50) 0 calc(50% + 0.5px),
            var(--color-transparent) 0 calc(100% - 1px),
            var(--color-gray-50) 0
        ),
        draw-line(0deg, var(--color-gray-50), 0.5px, 0%, 0%, 100%, 100%, no-repeat),
        draw-line(45deg, var(--color-gray-50), 0.5px, 0%, 0%, 100%, 100%, no-repeat),
        draw-line(-45deg, var(--color-gray-50), 0.5px, 0%, 0%, 100%, 100%, no-repeat);
}

.right-section {
    @extend %section;

    background:
        radial-gradient(
            circle at left center,
            var(--color-gray-50),
            var(--color-gray-50) 10%,

            var(--color-gray-100) 10%,
            var(--color-gray-100) 15%,

            var(--color-gray-200) 15%,
            var(--color-gray-200) 20%,

            var(--color-gray-300) 20%,
            var(--color-gray-300) 25%,

            var(--color-gray-400) 25%,
            var(--color-gray-400) 35%,

            var(--color-gray-500) 35%,
            var(--color-gray-500) 50%,

            var(--color-gray-600) 50%,
            var(--color-gray-600)
        );

    border-radius: 25px;
}